@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --first-color: #1B262C;
    --second-color: #0b3856;
    --third-color: #3282B8;
    --fourth-color: #BBE1FA;
}

/* :root{
    --first-color: #363062;
    --second-color: #827397;
    --third-color: #4D4C7D;
    --fourth-color: #E9D5DA;
} */


body{
    margin: 0;
    padding: 0;
    background-color: var(--first-color);
    color: var(--fourth-color);
    font-family: 'Poppins', sans-serif;
}

a{
    color: var(--fourth-color);
    font-weight: 300;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_page{
    width: 100%;
    height: 100vh;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_container{
    position: relative;
    width: 90%;
    max-width: 450px;
    background-color: var(--second-color);
    border-radius: 9px;
    padding: 50px 30px;
    box-sizing: border-box;
}

.form_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form_container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.form__title{
    margin-bottom: 50px;
    text-align: center;
}

.form__row{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__row:not(:last-child){
    margin-bottom: 30px;
}

.form__input_container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--third-color);
    border-radius: 25px;
    height: 50px;
    box-sizing: border-box;
}

.form__input_container label{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 12px;
    background-color: var(--second-color);
    padding: 0 10px;
}

.form__input_container input{
    position: relative;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    border: unset;
    background-color: transparent;
    color: var(--fourth-color);
    font-size: 18px;
    outline: none;
    padding: 0 35px;
    border-radius: 25px;
}

.form__input_container input::placeholder{
    color: var(--fourth-color);
    opacity: 0.3;
}

.form_container form button{
    margin-top: 50px;
    border: 1px solid var(--fourth-color);
    background-color: var(--fourth-color);
    color: var(--first-color);
    width: fit-content;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 9px;
    cursor: pointer;
    transition: color .3s ease, background-color .3s ease, border-color .3s ease, box-shadow .3s ease;
   
}
.form_container form button:hover{
    color: var(--fourth-color);
    background-color: var(--first-color);
    border-color: var(--first-color);
}

.form__redirect{
    font-size: 14px;
    margin-top: 20px;
}


.nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--second-color);
}

.nav__title{
    margin-left: 25px;
    
}

.nav__title a{
    font-size: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--third-color);
}

.nav__menu{
    margin-right: 25px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav__menu .nav_menu__col:not(:last-child){
    margin-right: 30px;
}

.section_container{
    width: 90%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_container h2{
    margin: 60px 0;
}

.section_container p{
    text-align: center;
    margin-bottom: 50px;
}

.movie_container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.movie_container article{
    cursor: pointer;
    position: relative;
    width: calc(33.33% - 30px);
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 30px;
}

.movie_container article:nth-child(3n + 2){
    margin: 0 30px;
    margin-bottom: 30px;
}

.movie_container article::before{
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--second-color);
}

.movie__image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__image::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, var(--second-color) 80%);
    z-index: 1;
}

.movie__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.65;
    transition: opacity .3s ease, width .3s ease, height .3s ease;
}

.movie_container article:hover .movie__image img{
    width: 120%;
    height: 120%;
    opacity: 0.95;
}

.movie__title{
    margin-top: 320px;
    padding: 0 20px;
    font-size: 20px;
    box-sizing: border-box;
}

.movie__date{
    margin-top: 5px;
    padding: 0 20px;
    font-size: 15px;
    box-sizing: border-box;
}

.movie__views{
    margin: 20px 0;
    padding: 0 20px;
    font-size: 12px;
    box-sizing: border-box;
}

.movie__love{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie__love svg{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.movie__love.active svg{
    fill: currentColor;
}
.movie__love:hover svg{
    width: 120%;
    min-width: 120%;
    height: 120%;
    min-height: 120%;
}

.pricing_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing_container > div{
    background-color: var(--second-color);
    padding: 70px;
    border-radius: 9px;
    margin: 0 20px;
    font-size: 30px;
    color: var(--third-color);
    cursor: pointer;
}

.pricing_container .big_pricing{
    color: var(--fourth-color);
    font-size: 50px;
}

.presentation_container{
    width: 100%;
    max-width: 900px;
    margin-bottom: 90px;
}

.presentation_container iframe{
    aspect-ratio: 16 / 9;
    width: 100%;
    margin-bottom: 20px;
}

.movie_informations{
    margin-top: 120px;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie__banner{
    width: 25%;
}
.movie__banner img{
    width: 100%;
}

.movie__specifications{
    margin-left: 60px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.movie__specifications P{
    text-align: left;
    font-size: 18px;
}

.movie_specifications__evaluation, 
.movie_specifications__date,
.movie_specifications__duration{
    font-size: 14px;
    margin-bottom: 10px;
}

.movie_specifications__dot{
    margin-top: 30px;
}
.movie_specifications__dot b{
    display: inline-block;
    margin-bottom: 12px;
}

.movie_specifications__dot a{
    text-transform: capitalize;
    padding: 8px 16px;
    background-color: var(--third-color);
    color: var(--first-color);
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    border-radius: 60px;
    margin: 8px 5px;
}

.movie__trailer{
    width: 100%;
    margin-top: 60px;
}
.movie__trailer iframe{
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 927px;
    margin-bottom: 20px;
}

.section_container.search input{
    min-width: 300px;
    padding: 8px;
    background-color: transparent;
    color: var(--fourth-color);
    font-size: 18px;
    outline: none;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid var(--third-color);
    height: 50px;
}
.section_container.search input::placeholder{
    color: var(--fourth-color);
    opacity: 0.3;
}

.section_container.categories{
    margin-top: 0px;
    max-width: 800px;
}

.search_result h2 b{
    color: var(--third-color);
}